%tr.build.alert{class: build_status_alert_class(build)}
  %td.status
    = build.status

  %td.build-link
    = link_to project_build_path(build.project, build) do
      %strong Build ##{build.id}

  %td
    - if build.job
      = build.job.name

  %td.duration
    - if build.duration
      #{distance_of_time_in_words build.duration}

  %td.timestamp
    - if build.finished_at
      %span #{time_ago_in_words build.finished_at} ago

  - if build.project.coverage_enabled?
    %td.coverage
      - if build.coverage
        #{build.coverage}%
