%h4.page-title
  = @project.name
  .pull-right
    = link_to edit_project_path(@project), class: "btn btn-default btn-small" do
      %i.icon-edit.icon-white
      Edit Project

%p
  = link_to project_commit_path(@project, @build.commit) do
    &larr; Back to project commit
%hr

.row
  .col-md-9
    .build-head.alert{class: build_status_alert_class(@build)}
      %h4
        Build for commit
        %code #{@build.short_sha}
        from

        = link_to project_path(@build.project, ref: @build.ref) do
          %span.label.label-primary= "#{@build.ref}"

        - if @build.duration
          .pull-right
            %span
              %i.icon-time
              #{distance_of_time_in_words @build.duration}

      .clearfix
        = @build.status
        .pull-right
          = @build.updated_at.stamp('19:00 Aug 27')



    .clearfix
      - if @build.active?
        .autoscroll-container.pull-right
          %button.btn.btn-default.btn-sm#autoscroll-button{:type => "button", :data => {:state => 'disabled'}} enable autoscroll
        .clearfix
    %pre.trace#build-trace
      %code.bash
        = preserve do
          = raw @build.trace_html

  .col-md-3
    - if @build.coverage
      .build-widget
        %h4.title
          Test coverage
        %h1 #{@build.coverage}%

    .build-widget
      %h4.title
        Build
        .pull-right
          - if @build.active?
            = link_to "Cancel", cancel_project_build_path(@project, @build), class: 'btn btn-sm btn-danger'
          - else
            = link_to "Retry", retry_project_build_path(@project, @build), class: 'btn btn-sm btn-primary', method: :post

      - if @build.duration
        %p
          %span.attr-name Duration:
          #{distance_of_time_in_words @build.duration}
      %p
        %span.attr-name Created:
        #{time_ago_in_words(@build.created_at)} ago
      - if @build.finished_at
        %p
          %span.attr-name Finished:
          #{time_ago_in_words(@build.finished_at)} ago
      %p
        %span.attr-name Runner:
        - if @build.runner
          \##{@build.runner.id}

    .build-widget
      %h4.title
        Commit
        .pull-right
          %small #{build_commit_link @build}

      - if @build.commit.compare?
        %p
          %span.attr-name Compare:
          #{build_compare_link @build}
      %p
        %span.attr-name Branch:
        #{build_ref_link @build}
      %p
        %span.attr-name Author:
        #{@build.commit.git_author_name}
      %p
        %span.attr-name Message:
        #{@build.commit.git_commit_message}

    - if @builds.present?
      .build-widget
        %h4.title #{pluralize(@builds.count, "other build")} for #{@build.short_sha}:
        %table.builds
          - @builds.each_with_index do |build, i|
            %tr.build.alert{class: build_status_alert_class(build)}
              %td
                = link_to build_url(build) do
                  %span #{i+=1} &ndash; #{build.short_sha}
              %td.status= build.status


        = paginate @builds


:javascript
  new Build("#{build_url(@build)}", "#{@build.status}")
