.project-title {
  margin: 0;
  color: #444;
  font-size: 20px;
  line-height: 1.5;
}

.builds {
  @extend .table;

  .build {
    &.alert{
      margin-bottom: 6px;
    }
    td {
      border-bottom: 1px solid #fff;
    }
  }
}

.projects-table {
  td {
    vertical-align: middle !important;
  }
}

.commit-info {
  font-size: 14px;

  .attr-name {
    font-weight: 300;
    color: #666;
    margin-right: 5px;
  }

  pre.commit-message {
    font-size: 14px;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    margin: 20px 0;
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
    border-radius: 0;
  }
}
